.ResultContainer {
  .top-bar {
    display: flex;
    .input-div {
      border: 1px solid #dfe1e5;
      border-radius: 20px;
      padding: 10px;
      height: 20px !important;
      display: flex;
      margin-left: 20px;
      flex: 1;
      max-width: 650px;
      input {
        width: 100% !important;
        border: none;
        padding: 0 10px;
        font-size: 16px;
        outline: none;
      }
    }
    .logo {
      .big {
        height: 35px;
      }
      .small {
        height: 25px;
      }
    }
  }

  .options-bar {
    padding-left: 160px;
    margin-top: 20px;
    border-bottom: 1px solid #dfe1e5;
    display: flex;
    span {
      display: flex;

      svg {
        width: 18px;
      }
      padding: 0 5px;
      font-size: 16px;
    }
    .AllBtn:hover {
      cursor: pointer;
    }
    .ImagesBtn:hover {
      cursor: pointer;
    }
    .VideosBtn:hover {
      cursor: pointer;
    }
  }
  .displayData {
    .results {
      margin: 0 160px;
      margin-top: 10px;
      .url {
        padding-top: 10px;
        font-size: 14px;
      }
      .description {
        padding-bottom: 10px;
        border-bottom: 1px solid #dfe1e5;
      }
    }
    h3 {
      font-family: arial, sans-serif;
    }
    a {
      color: #1a0dab;
      text-decoration: none;
      .title {
        font-size: 22px;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    .pageNo {
      margin: 20px 160px;
      span:hover {
        text-decoration: underline 1px solid #1a73e8;
      }
    }
    .pageNo:hover {
      cursor: pointer;
    }
    .relatedSearch {
      margin: 20px 160px;
      max-width: 600px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .related {
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        height: 40px;
        margin: 10px 0;
        background-color: #f1f3f4;
        .text {
          flex: 1;
          display: flex;
          justify-content: center;
        }
      }
      .related:hover {
        cursor: pointer;
      }
    }
  }
  .resultCount {
    padding: 5px 0;
  }
}
@media screen and(max-width:768px) {
  .ResultContainer {
    .logo {
      .small {
        display: none !important;
      }
    }
    .options-bar {
      padding-left: 50px !important;
    }
    .displayData {
      .results {
        margin: 0 50px;
      }
      .pageNo {
        margin: 20px 50px;
      }
      .relatedSearch {
        margin: 20px 50px;
      }
    }
  }
}
