.displayData {
  .videosResult {
    margin: 0 160px;
    .videoContents {
      .title {
        margin-top: 10px;
        font-size: 20px;
        height: 26px;
        overflow-y: hidden;
      }
      .videoItem {
        padding: 10px 0;
        display: flex;
        border-bottom: 1px solid #dfe1e5;
        img {
          border-radius: 10px;
          height: 75px;
        }
        .details {
          padding-left: 20px;
          overflow-x: auto;
          .description {
            height: 40px;
            overflow-y: hidden;
            width: 100%;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .displayData {
    .videosResult {
      margin: 0 50px;
    }
  }
}
